/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
:root{
  --color1:#ce8272;
  /* --color1:#dfad75; */
  --font-family: "Montserrat", serif;
  --font-family-Marcellus: "Marcellus", serif;
}
/* BODY */
body{
  font-family: var(--font-family-Marcellus) !important;
}
/* BODY */
.card-img-to{
  object-fit: cover;
  background-size: cover;
  width: 100% !important;
  height: 240px !important;
}
.bt1{
  color: white;
  padding: 10px;
  border-radius: 2px;
  font-weight: 100 !important;
  text-decoration: none;
  background-color: var(--color1);
}
/* NAVBAR CSS START*/
/* Top Header */
.tophead {
  background-color: #333;
  color: white;
}
.venue-bg{
  object-fit: cover;
  background-size: cover !important;
  height: 70vh;
  background-image: url("assets/upcoomig.png");
}
.span-head1 {
  font-size: 14px;
  color: #ccc;
}

/* Navbar */
.navbar {
  width: 100%;
  backdrop-filter: blur(55px) !important;
  background-color:rgba(0, 0, 0, 0.51);
  padding: 10px 0px !important;
  z-index: 2;
  position: absolute !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.081);
}
.dropdown:hover .dropdown-menu{
  display:  block !important;
background-color: white !important;

  height: 150px !important;
}
.dropdown-menu>li>.dropdown-item{
  margin: 2px 0px !important;
  transition: 0.3s ease-in-out !important;
 }
 .dropdown-menu>li>.dropdown-item:hover{
  background-color: var(--color1) !important;
color: white !important; 
}
.dropdown-menu{
  display: block !important;
  height: 0px ;
  overflow: hidden;
  border: none !important;
  padding: 5px 10px !important;
transition: 0.8s ease-in-out !important;
}
.navbar-brand {
  font-size: 24px;
  color: #333 !important;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-outline-secondary {
  border: 1px solid #ccc;
  color: #333;
}

.dropdown-menu {
  height: 0%;
  background-color: transparent !important;
overflow: hidden !important;
  border-radius: 0;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

/* Offcanvas */
.offcanvas {
  background-color: #fff;
}

.offcanvas-title {
  font-size: 20px;
  color: #333;
}

.nav-item>.nav-link {
  font-size: 17px;
  color: rgb(255, 255, 255);

  font-weight: 500 !important;
}

.nav-link:hover {
  color: #007bff;
}

/* NAVBAR CSS END */

/* HOME CSS START */
.carousel-item{

  height: 120vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  transition: 1.9s ease-in-out !important;
  animation:fn 7.5s linear infinite;
}

.car1{
  object-fit: cover;
  background-size: cover;
  background-image: url("assets/revslider_1.jpg") ;
}
@keyframes fn {
  0%{
    transform: scale(1);
  }
 
  100%{
    transform: scale(1.1);
  }
}
.car2{
  background-image: url("assets/revslider_3.jpg");
}
.car3{
  background-image: url("assets/revslider_6.jpg");
}
.dash{
border-bottom: 1px solid white !important;
}
.bg{
  background-color: var(--color1);
}
.btn1{

  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 18px !important;
color: rgb(255, 255, 255);
transition: transform 0.5s ease-in-out; 
font-weight: 800 !important;
}

.spa {
  display: inline-block;
  color: white !important;
  transform: rotateY(0deg) !important;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out; 
}
.btn1:hover .spa{
  transform: rotateY(180deg) !important;
}
.btn1:hover{
  border-top: 2px solid var(--color1);
  border-bottom: 2px solid var(--color1);

  background-color: transparent;
  transform: rotateY(180deg);
}
.col-grey{
font-size: 14px;
  font-weight: 400 !important;
  color: #646464;
}
.col-org{
  color: var(--color1) !important;
}
.cont-1{

  position: relative;
  overflow: visible !important;
 z-index: 500 !important;
  margin-top: -50px !important;

  background-color: white !important;
}
.event-step{

  border: 5px solid var(--color1);
}
.cards1{
  object-fit: cover;
  background-size: cover;
  height: 400px;
  position: relative;
  background-image: url("assets/card_1.jpeg");
transition: 0.8s ease-in-out !important;

}
.cards2{
  object-fit: cover;
  background-size: cover;
  height: 400px;
  position: relative;
  background-image: url("assets/card_2.jpeg");
transition: 0.8s ease-in-out !important;

}
.cards3{
  object-fit: cover;
  background-size: cover;
  height: 400px;
  position: relative;
  background-image: url("assets/card_3.jpeg");
transition: 0.8s ease-in-out !important;

}
.cards4{
  object-fit: cover;
  background-size: cover;
  height: 400px;
  position: relative;
  background-image: url("assets/card_4.jpg");
transition: 0.8s ease-in-out !important;

}
.card-container{
  border: 7px solid white;
}
.card-hover{
  top: 0%;
  z-index: 1 !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.537);
  position: absolute;
  width: 100%;
  transition: 0.8s  ease-in-out !important;
}
.text-white1{
  z-index: 10 !important;
  color: white !important;
}
.cards1:hover  .card-hover{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  background-position: top !important;
  }
  .cards2:hover  .card-hover{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    background-position: top !important;
    }
    .cards3:hover  .card-hover{
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      background-position: top !important;
      }
      .cards4:hover  .card-hover{
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        background-position: top !important;
        }
   

.cards1:hover{
background-size: cover  !important;

background-position: top  !important;
}
.cards2:hover{
  background-size: cover  !important;
  
  background-position: top  !important;
  }
  .cards3:hover{
    background-size: cover  !important;
    
    background-position: top  !important;
    }
    .cards4:hover{
      background-size: cover  !important;
      
      background-position: top  !important;
      }
    .fa-calculator{
    font-size: 24px !important;
      color: white;
    }
    .btnfix{
      border-radius: 4px;
      background-color: var(--color1) !important;
  right: 20px;
  padding: 10px;
  z-index: 111;
  bottom: 20px !important;
  border: none;
  color: var(--color1) !important;
  position: fixed !important;
}
/* HOME CSS END */

/* FOOTER CSS START */
footer{
  color: white !important;
  background-color: #1d1d1d !important;
}

footer>div>div>div>ul>li>a{
text-decoration: none;
  color: white !important;
}
/* FOOTER CSS END */
